* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

.MuiButtonBase-root a {
    text-decoration: none;
}


.screan-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.no-events {
    pointer-events: none;
}

.vmiddle {
    vertical-align: middle;
}

.inset {
    padding-left: 32px !important
}

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 3px;
    opacity: 1;
    z-index: 3;
}

.player__screen {
    height: 100%;
    background: black;
    color: white;
}

.player__player-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;

    video.scale_hor {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%    !important;
        height: auto   !important;
    }

    video.scale_vert {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto    !important;
        height: 100%   !important;
    }
}

.player-controls__panel {
    display: flex;
    justify-content: space-between;
}

.player__file-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 71px;
    top: 0;
    opacity: 0.9;
    z-index: 2;

    @media (min-width: 768px) {
        width: 576px;
    }
}

.player__file-list-container {
    flex-grow: 1;
}

.shadow-border {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.player__title {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;

    h6 {
        @extend .shadow-border 
    }
}

.player__share {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.player__share-content {
    padding: 10px;
}

.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: none;
}

.playback-skip {
    position: absolute;
    top: 25%;
    bottom: 15%;
    height: 50%;
    width: 30%;
    z-index: 1;
    touch-action: none;

    &.forward {
        right: 0
    }
    
    &.backward {
        left: 0
    }
}

.shadow-icon {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}

.playback-skip__indicator {
    @extend .shadow-icon;
    color: white;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 72px;
}

.player__pause-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sound-control__slider {
    width: 150px !important;
    vertical-align: middle;
    margin: 0 5px;
}

.sound-control__mobile {
    display: flex;
    align-items: center;
}

.idle {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
	user-select: none;
}

.player__background-cover{
    background: no-repeat center center fixed; 
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.player__pause-cover{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 72px;
}

.player__start-cast-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.player__telegram-links {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 50px;
    
    a, a:hover, a:active, a:visited {
        text-decoration: none;
    }
}

@media (min-width: 576px) {
    .hide-on-mobile {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .hide-on-desktop {
        display: inline-block;
    }
}

@each $icon in facebook, vkontakte, viber, whatsapp, twitter, telegram {
    .icon-#{$icon} {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url('./images/#{$icon}.png') no-repeat;
    }
}

.icon-copy {
    color: white;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: top;
    cursor: pointer;
    padding: 6px;
}